@font-face {
    font-family: 'Titillium';
    src: url('fonts/titilliumtext25l002-webfont.ttf');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, object, iframe, blockquote, h1, h2, h3, h4, h5, h6, p, img, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    font-family: Arial;
    outline: 0 none;
    padding: 0;
    margin: 0;
}

td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    outline: 0 none;
    padding: 0;
}

h1 {
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 20px;
}

h5 {
    font-family: 'Titillium';
}

p {
    line-height: 140%;
    padding-bottom: 5;
}

body, html {
    color: #333333;
}

div.pageBlock {
    width: 100%;
    float: left;
    background-image:url(../assets/bgTile.png);
    background-repeat:repeat;
}

div.pageBlock.options {
    overflow: hidden;
    position: relative;
    height: 200px;
}

div.pageOptions {
    -moz-box-shadow: 0 0 2px 2px #e6e4e4 inset;
    -webkit-box-shadow: 0 0 2px 2px #e6e4e4 inset;
    box-shadow: 0 0 2px 2px #e6e4e4 inset;

    background-color: #F9F9F9;
    left: -10px;
    position: absolute;
    right: -10px;

    height: 160px;
    padding-top: 40px;
}

div.pageOptions  div.option {

    -webkit-transition: color .15s ease-in;
    -moz-transition: color .15s ease-in;
    -o-transition: color .15s ease-in;
    transition: color .15s ease-in;
}

div.pageOptions span.page_option_title {

    width: 100%;
    text-align: center;
    display: block;
    padding-top: 10px;

}

div.pageContentBlockUpper {
    margin-left:auto;
    margin-right:auto;
    max-width: 1200px;
    width: 100%;
    background: #fff;
}

div.pageContentBlockLower {
    margin-left:auto;
    margin-right:auto;
    max-width: 1200px;
    width: 100%;
    background: #fff;
}

div.padded_container {
    padding: 0 30px;
}

div#content {
    min-height: 400px;
    background-color: #FFFFFF;

}

.bold {
    font-weight: bold;
}

/*
    *******************************************************************************************
    Header styles
    *******************************************************************************************
*/

div#header {
    background-color: #FFFFFF;
    display: table;
    width: 100%;
    height: 90px;
    float: left;
}

div#header .col {
    margin: 0 0 0 1.6%;
}

div#header #seLogo {
    float: left;
    max-height: 28px;
    max-width: 208px;
    display: block;
    width: 100%;
    margin-top: 35px;
}

div#header #seLogo img {
    max-width: 100%;

}

div#header #menu
{
    height: 90px;
}

div#content {
    width: 100%;
    float: left;
}

div.mnuBtn  {
    color: #aaa !important;
    text-align: center;
    width: 90px;
    position: relative;
    float: left;
    display: table;
    height: 100%;
}

div.mnuBtn  a{
    height: 19px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Titillium';
    font-weight: bold;
    font-size: 19px;
    color: #999999;
    text-decoration: none;
}

a:hover {
   color: #bbb !important;
   font-size: small;

}

div#thumbsHolder {
    margin: 0, 0 ,0 ,0;
}

div.homeThumb {
    height: 200px;
    width: 150px;
    margin-left: 8px;
    background: #d92626;
    float: left;
    border:1px solid;
    padding: 10px;
    margin-top: 20px;
}

div.homeThumb:hover {
    background: #db9175;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);

}

div#thumb1 {
    border: 2px solid #d92626;
    background: #fff;
}

div#thumb2 {
    border: 2px solid #961b1a;
    background: #fff;
}
div#thumb3 {
    border: 2px solid #d9a726;
    background: #fff;
    display: table-cell;
    vertical-align: bottom;
}
div#thumb4 {
    border: 2px solid #d95726;
    background: #fff;
}

div.upperThumb {
    height: 96px;
}

div.lowerThumb {
    height: 108px;
}

div.pgTitle {
    text-decoration: none;
    margin-left: 60px;
    font-family: 'Titillium';
    font-weight: bold;
    font-size: 20px;
    color: #d09a9a;
}

div.pgSubtitle {
    text-decoration: none;
    margin-left: 60px;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #cca69d;
}

div.pgExample {
    margin-left: 60px;
    margin-right: 60px;
}

div#pageBreak {
    height: 100px;
    width: 100%;
    background: #961b1a;
    -webkit-transform: scale(1.02, 1);
    -moz-transform: scale(1.02, 1);
}

div#exampleContentHolder {
    width: 100%;
    height: 570px;
    padding-top: 10px;
}

td .col.left {
    border-right: 1px solid #333;
    float: left;
    padding-right: 40px;
    width: 399px;
}

div.pageContentBlockLower .col {
    margin-left: 40px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

td .col.right {
    width: 400px;
    float: left;
}

div.pageContentBlockLower .col {
    margin-left: 40px;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.imgBox {
    height: 198px;
    width: 297px;
    border-style: solid;
    border-width: 2px;
    display: block;
    background-color: #f8f8f8;
    border-color: #961b1a;

    display: table-cell;
    vertical-align: middle;
}

div.imgBox img {
    margin: 3px 3px 3px 3px;
}

div#googleMap {
    float: left;
}

div#socialExplorerMap {
    float: left;
}

/*
    *******************************************************************************************
    Fonts styles
    *******************************************************************************************
*/

div.redTitleText {
    text-decoration: none;
    margin-left: 60px;
    font-family: Titillium;
    font-size: 20px;
    color: #d09a9a;
}

div.bodyWhiteText {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 12px;
    color: #f8f0f0;
}

.normalTitleText {
    text-decoration: none;
    font-family: Titillium;
    font-weight: bold;
    font-size: 20px;
    color: #aeaeae;
    margin-bottom: 20px;
}

.normalTitleBlack {
    text-decoration: none;
    font-family: Titillium;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

.normalSubtitleBlack {
    text-decoration: none;
    font-family: Titillium;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    margin-bottom: 5px;
}

.normalTitleText p {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family: Titillium;
    border-color: #e8e8e8;
    margin-bottom: 20px;
}

.normalTitleBlack p {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family: Titillium;
    border-color: #e8e8e8;
    margin-bottom: 20px;
}

.normalText {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 14px;
    margin-bottom: 20px;
}

.margins {
   margin-left: 60px;
   margin-right: 60px
}

li {
    margin-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}



/*
    *******************************************************************************************
    Footer styles
    *******************************************************************************************
*/

div#footer {
    display: block;
    width: 100%;
    min-height: 2em;
    padding-top: 3em;
    float: left;
}

div#footer a {
    display: inline-block;
}

@media only screen and (max-width: 240px) {
    div#footer {
        text-align: center;

    }
}

.topBorder {
    border-top-style: solid;
    border-top-width: 1px;
}

.grayBorder {
    border-color: #E6E6E6;
}

/*
    *******************************************************************************************
    Code/example styles
    *******************************************************************************************
*/

.codeListing {
    background: #fff;
    font-family: monospace;
    padding: 5px;
    border: 1px solid #aaa;
    margin: 10px 0px 0px 0px;
    overflow: auto;
}

.exampleInput {
    margin: 0px;
    padding: 0px;
}

.exampleInputTxt {
    width: 100%;
    height: 25px;
}

.exampleInputBtn {
    width: 110px;
    height: 32px;
}

.seButton {
    width: 110px;
    height: 28px;
    background-color: #b04f45;
    border: 2px solid #ce8f8a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 15px;
    text-decoration: none;

    text-align: center;
    cursor: pointer;

    outline: none;
    -moz-outline-style: none;

    -webkit-transition: background-color .15s ease-in;
    -moz-transition: background-color .15s ease-in;
    -o-transition: background-color .15s ease-in;
    transition: background-color .15s ease-in;
}

.seButton:hover {
    background-color: #b3483d;
    color: #ffffff;
    text-decoration: none;
}

.seButton:active {
    background-color: #b3483d;
    color: #ffffff;
    text-decoration: none;
}

.seButton:visited {
    color: #ffffff;
    text-decoration: none;
}

.seButton.sign_up_large {
    font-size: 16px;
    /*font-weight: bold;   */
    padding: 8px 0;
    width: 155px;
}


