<div class="pageBlockFooter">
  <div class="pageContentBlock" style="display:table; width: 100%;">
    <div class="padded_container">
      ©2013 Social Explorer. All rights reserved.
    </div>
  </div>
</div>