<div class="pageContentBlock">
  <div class="padded_container">
    <div>
      <div id="seLogo" style="width: 20%;">

        <a href="/" title="SocialExplorer.com">
          <img border="0" alt="Social Explorer" src="/assets/Logo.png"/>
        </a>

      </div>
    </div>

    <div class="menu" style="float: left; width: 80%;">
      <div id="home" class="mnuBtn">
        <%= link_to "Home", :controller => "application", :action => "index" %>
      </div>
      <div id="pricing" class="mnuBtn">
        <%= link_to "Pricing", :controller => "application", :action => "pricing" %>
      </div>
      <div id="api" class="mnuBtn">
        <%= link_to "API", :controller => "application", :action => "api" %>
      </div>
      <div id="contact" class="mnuBtn">
        <%= link_to "Contact", :controller => "application", :action => "contact" %>
      </div>
    </div>

  </div>
</div>