<div class="pageBlock">
  <div class="pageContentBlock">
    <h1>Home</h1>

    <div class="homeThumb">

    </div>

    <div class="homeThumb">

    </div>

    <div class="homeThumb">

    </div>

    <div class="homeThumb">

    </div>
  </div>
</div>
